services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    ports:
      - "127.0.0.1:5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=${N8N_BASIC_AUTH_ACTIVE}
      - N8N_BASIC_AUTH_USER=${N8N_BASIC_AUTH_USER}
      - N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD}
      - POLICY_URL=${POLICY_URL}
      - LATEST_POLICY_FILE=${LATEST_POLICY_FILE}
    volumes:
      - ./data:/home/node/.n8n
      - ./local-files:/files

volumes:
  n8n_data:
